html,
body,
.App {
  overflow: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100wh;
  height: 100vh;
  background: linear-gradient(
    247deg,
    #d29ace,
    #e682de,
    #82c2e6,
    #84b9bf,
    #b1a4d2,
    #d480af,
    #dbc4ea,
    #bac8e3,
    #9bd9dd,
    #9addc6,
    #a6e6ab,
    #c0dd9f,
    #cddf83,
    #ceaa87,
    #e1bf9e
  );
  background-size: 3000% 3000%;
  -webkit-animation: Gradient 100s ease infinite;
  -moz-animation: Gradient 100s ease infinite;
  animation: Gradient 100s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buttons {
  display: grid;
  width: 92%;
  grid-template-columns: 18% 20% 20%;
  justify-content: flex-start;
  margin: 0.5rem 0rem 0rem 0rem;
  position: relative;
  grid-gap: 30px;
}

.bottom-knobs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.bpm-slider {
  /* margin: -15rem -100rem */
  margin: -9.8rem -15rem;
}

.volume-slider {
    /* margin: -13rem 10rem */
    margin: -4.9rem -7.5rem;
}

.swing-slider {
    /* margin: -3rem 10rem */
    margin: -4.9rem 1.9rem;
  /* margin: 10rem 98.5rem; */
    /* margin: 0rem 0rem */
}

.side-knobs {
  width: 100%;
  height: 100%;
  position: relative
}

.bottom-knobs {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.side-knobs {
  margin: 1.2rem 0rem;
  width: 10%;
  height: 10%;
}

.clap-reverb-knob {
  margin: -0.4rem 125.5rem;
}

.snare-delay-knob {
  margin: 0rem 125.5rem;
}

.kick-tuning-knob {
  margin: 0rem 125.5rem;
}

.conga-tuning-knob {
  margin: 0rem 125.5rem;
}

.hihat-decay-knob {
  margin: 0rem 125.5rem;
}

.cymbal-release-knob {
  margin: 0rem 125.5rem;
}

.icons {
  width: 100%;
  height: 100%;
  position: relative;
}

.kick {
  width: 4%;
  margin: 1.5rem 9.79rem;
  position: absolute;
}

.cymbal {
  width: 5%;
  margin: 29rem 9rem;
  position: absolute;
}

.clap {
  width: 5.5%;
  margin: 14.9rem 9.45rem;
  position: absolute;
}

.snare {
  width: 4.1%;
  margin: 22rem 10.1rem;
  position: absolute;
}

.hihat {
  width: 4.6%;
  margin: 8.5rem 9.2rem;
  position: absolute;
}

.conga {
  width: 4%;
  margin: 35.6rem 10.1rem;
  position: absolute;
}

.lower-record-buttons {
  display: grid;
  width: 15%;
  justify-content: flex-start;
  margin: 1rem 0rem 0rem 0rem;
  grid-gap: 5px;
}

.recorder-buttons {
  display: grid;
  width: 92%;
  grid-template-columns: 15% 15% 50% 50%;
  justify-content: flex-start;
  margin: 1rem 0rem 0rem 15.7rem;
  position: absolute;
  grid-gap: 9px;
}

.grid {
  width: 80vw;
  max-width: 160vh;
  max-height: 68vh;
  font-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4rem;
  right: 0;
  overflow: hidden;
  margin: auto;
}
.row {
  display: flex;
}
.box {
  background: white;
  border: 2px solid black;
  margin: 2px;
  color: black;
  flex: 1 0 auto;
  position: relative;
}
.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  background: #f7f5e1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  top: 50rem;
}
