html,
body,
.App {
  overflow: hidden;
  position:fixed;
  top:0;
bottom:0;
left:0;
right:0;
/* width: 2100px;
height: 1200px; */
  width: 100wh;
  height: 100vh;
  background: linear-gradient(
    247deg,
    #d29ace,
    #e682de,
    #82c2e6,
    #84b9bf,
    #b1a4d2,
    #d480af,
    #dbc4ea,
    #bac8e3,
    #9bd9dd,
    #9addc6,
    #a6e6ab,
    #c0dd9f,
    #cddf83,
    #ceaa87,
    #e1bf9e
  );
  background-size: 3000% 3000%;
  -webkit-animation: Gradient 100s ease infinite;
  -moz-animation: Gradient 100s ease infinite;
  animation: Gradient 100s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buttons {
  display: grid;
  width: 92%;
  grid-template-columns: 15% 15% 15%;
  justify-content: flex-start;
  margin: 43.5rem 0rem 0rem 15.7rem;
  position: relative;
  grid-gap: 30px;
}

.side-knobs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
}

/*
.bottom-knobs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

.bpm-slider {
  margin: -5rem 98.5rem;
  position: absolute;
}

.volume-slider {
  margin: -2.5rem 59.6rem;
  position: absolute;
}

.swing-slider {
  margin: -2.5rem 54.5rem;
  position: absolute;
}

/* .side-knobs {
  margin: -10rem 120rem;
  position: absolute;
} */

.clap-reverb-knob {
  margin: -32.8rem 125.5rem;
  position: absolute;
}

.snare-delay-knob {
  margin: -25.8rem 125.5rem;
  position: absolute;
}

.kick-tuning-knob {
  margin: -46.45rem 125.5rem;
  position: absolute;
}

.conga-tuning-knob {
  margin: -12.2rem 125.5rem;
  position: absolute;
}

.kick {
  margin: 1.2rem 9.9rem;
  position: absolute
}

.cymbal {
  margin: 29rem 9rem;
  position: absolute
}

.clap {
  margin: 14.9rem 9.55rem;
  position: absolute
}

.snare {
  margin: 22rem 10.22rem;
  position: absolute
}

.hihat {
  margin: 8.5rem 9.1rem;
  position: absolute
}

.conga {
  margin: 35.6rem 10.6rem;
  position: absolute
}



.grid {
  width: 80vw;
  max-width: 160vh;
  max-height: 68vh;
  font-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4rem;
  right: 0;
  overflow: hidden;
  margin: auto;
}
.row {
  display: flex;
}
.box {
  background: white;
  border: 2px solid black;
  margin: 2px;
  color: black;
  flex: 1 0 auto;
  position: relative;
}
.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  background: #f7f5e1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  top: 50rem;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
