html, body, .App {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) !important;
}

.grid {
  width: 80vw;
  max-width: 160vh;
  max-height: 68vh;
  font-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4rem;
  right: 0;
  overflow: hidden;
  margin: auto;
}
.row {
  display: flex;
}
.box {
  background: white;
  border: 2px solid black;
  margin: 2px;
  color: black;
  flex: 1 0 auto;
  position: relative;
}
.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  background: #F7F5E1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#body {

    /* overflow: hidden; */

    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)
}

#text {
  top: 50rem
}













/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
