body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.bottom-sliders {
  justify-content: space-around;
  display: inline-flex;
  width: 50%; 
  position: relative;
  margin-top: -0.5%;
  h5 {
    top: 100%;
    position: absolute;
    padding: 0 4px;
    margin-top: 2px;
    background-color: rgb(238, 226, 76);
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .bpm-slider {
    left: 9.5%;
  }
  .swing-slider {
    left: 46.5%;
  }
  .volume-slider {
    left: 77%;
  }

}

// .bottom-slider {
  
//   height: "80px";
//   width: "80px";
//   overflow: hidden;
// }

.bottom-knobs {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.trans-button {
  outline: none;
  background-color: #eee24c;
  border-radius: 4px;
  height: 57.75px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 4vh;
  width: 8vw;
  @media (min-width: 768px) { // 768px
    height: 6vh;
  }
  .randomise-button {
    width: 10vw;
  }
}

.button-inner {
  position: relative;
  width: 100%;
  line-height: 0;
  > i {
    position: absolute;
    left: 10%;
    line-height: 0;
    height: 55px;
  }

  .icon-text {
    font-size: 1.2vw;
    position: absolute;
    left: 37%;
    line-height: 0;

    @media (min-width: 1024px) { // 768px
      left: 40%;
    }
  }
}

